{% extends "layout/base.html" %}
{% block content %}
<div>
    <div class="container game-list">
        {% for i in object_list  %}
        <div class="row">
            <div class="col text-center">
                <img src="{{ i.cover.url }}" alt=""/>
            </div>
            <div class="col">
                <h1>{{ i.name }}</h1>
                <h2>{{ i.genre }}</h2>
                <h2>{{ i.pk }}</h2>
                <a href="{% url 'game-detail' i.id %}">Details</a>
            </div>
            <hr/>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
