{% extends "layout/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

{% for i in object.gamesreviews_set.all %}
    {{ i.review_score }}
    <hr>
    {{ i.music_score }}
    {{ i.gameplay_score }}
    {{ i.visual_score }}
    {{ i.story_score }}
    <hr>
{% endfor %}

<h1>test2</h1>
<hr>
{{ object.rating_avg }}

<div>
    <div class="container emp-profile">
        <div class="row">
            <div class="col-4">
                <div class="container-cover">
                    <img src="{{ object.cover.url }}" alt="cover_art" class="image-cover">
                    <div class="middle-cover">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <fieldset class="form-group">
                                {{ form|crispy }}
                            </fieldset>
                            <div>
                                <button class="text-cover" type="submit">Add to collection!</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="text">
                                <h2>{{ object.name }}</h2>
                            </div>
                        </div>
                        <div class="col">
                            <a href="{% url 'company-detail' object.belong_to_company.pk %}">
                                <h5>{{ object.belong_to_company }}</h5>
                            </a>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="container">
                    <p>{{ object.description }}</p>
                    <p>No of people that have {{ object.name }} in their collection: {{ object.profilegamescollection_set.all | length }}</p>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-10">
                            <h5>Tutaj będą oceny z recenzji</h5>
                                <hr>
                                <p>Reviews:</p>
                                <p>
                                    {% for i in object.gamesreviews_set.all %}
                                        {{ i.review }}
                                    {% endfor %}
                                </p>
                        </div>
                        <div class="col-md-2">
                            <a class="profile-edit-btn" href="{% url 'review-create' object.pk %}">Add a review</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </div>

    <div class="container emp-profile">
        <div class="row">
            <div class="col-4 review-right text-center">
                <h4>Total score</h4>
                <span class="material-icons md-72">check_circle</span>
                <h3>{{ object.rating_avg|floatformat:1 }}</h3>
                <p>out of {{ object.gamesreviews_set.all.count }} reviews</p>
                <a href="{% url 'game-review' object.pk %}">
                    <h4>Wszystkie recenzje</h4>
                </a>
                
            </div>
            <div class="col-8">
                <div class="row text-center">
                    <div class="col">
                        <h5>Visuals<h5>
                        {% if object.visual_rating_avg < 1.5 %}
                        <span class="material-icons md-48 review-red">hd</span>
                        {% elif object.visual_rating_avg > 1.5 and object.visual_rating_avg < 3.5 %}
                        <span class="material-icons md-48 review-yellow">hd</span>
                        {% else %}
                        <span class="material-icons md-48 review-green">hd</span>
                        {% endif %}
                        <h3>{{ object.visual_rating_avg|floatformat:1 }}</h3>
                    </div>
                    <div class="col">
                        <h5>Gameplay</h5>
                        {% if object.gameplay_rating_avg < 1.5 %}
                        <span class="material-icons md-48 review-red">sports_esports</span>
                        {% elif object.gameplay_rating_avg > 1.5 and object.gameplay_rating_avg < 3.5 %}
                        <span class="material-icons md-48 review-yellow">sports_esports</span>
                        {% else %}
                        <span class="material-icons md-48 review-green">sports_esports</span>
                        {% endif %}
                        <h3>{{ object.gameplay_rating_avg|floatformat:1 }}</h3>
                    </div>
                    <div class="col">
                        <h5>Music</h5>
                        {% if object.music_rating_avg < 1.5 %}
                        <span class="material-icons md-48 review-red">speaker</span>
                        {% elif object.music_rating_avg > 1.5 and object.music_rating_avg < 3.5 %}
                        <span class="material-icons md-48 review-yellow">speaker</span>
                        {% else %}
                        <span class="material-icons md-48 review-green">speaker</span>
                        {% endif %}
                        <h3>{{ object.music_rating_avg|floatformat:1 }}</h3>
                    </div>
                    <div class="col">
                        <h5>Story</h5>
                        {% if object.story_rating_avg < 1.5 %}
                        <span class="material-icons md-48 review-red">history_edu</span>
                        {% elif object.story_rating_avg > 1.5 and object.story_rating_avg < 3.5 %}
                        <span class="material-icons md-48 review-yellow">history_edu</span>
                        {% else %}
                        <span class="material-icons md-48 review-green">history_edu</span>
                        {% endif %}
                        <h3>{{ object.story_rating_avg|floatformat:1 }}</h3>
                    </div>
                </div>
                <hr>
            </div>
            
        </div>  
    </div>
</div>

<div class="card">
    <h4 class="text-muted">Reviews</h4>
    {% for i in object.gamesreviews_set.all|slice:":3" %}
    <h5>{{ i.author }}</h5>
    <p>{{ i.review }}</p>
    {% endfor %}
    
</div>
{% endblock %}
