{% extends "layout/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend>Register a new GAME</legend>
                {{ form|crispy }}
            </fieldset>
            <div>
                <button type="submit">Add the game!</button>
            </div>
        </form>
</div>
<div>
    <div class="container emp-profile">
        <h1>Detail View Test</h1>
        <h2>Name:</h2>
        <h2>{{ object.name }}</h2>
        <h2>Genre:</h2>
        <h2>{{ object.genre }}</h2>
        <h2>Platforms: </h2>
        <h2>{{ object.platforms }}</h2>
    </div>
</div>
{% endblock %}
