{% extends "layout/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div>
    <div class="container emp-profile">
        <div class="row">
            <div class="col-4">
                <div class="container-cover">
                    <img src="{{ object.cover.url }}" alt="cover_art" class="image-cover">
                    <div class="middle-cover">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <fieldset class="form-group">
                                {{ form|crispy }}
                            </fieldset>
                            <div>
                                <button class="text-cover" type="submit">Add to collection!</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="text">
                                <h2>{{ object.name }}</h2>
                            </div>
                        </div>
                        <div class="col">
                            <h5>{{ object.belong_to_company }}</h5>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="container">
                    <p>{{ object.description }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
