h1,
h2,
h3 {
    font-weight: bold;
}

.game-list {
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}

.game-list hr{
   margin-top: 2%;
}

.navbar-custom {
  background-color: #f6912d;
}

.csontent-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.background-box {
 margin: 0 auto;
 background-color: #eee;
}

.p-font1 {
 font-size: 20px;
 font-family: 'Indie Flower', cursive;
}

.p-font2 {
 font-family: 'Rokkitt', serif;
}
body{
    background: #ecf0f1;
}
.emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}

.profile-img {
    margin-top: 7%;
    margin-left: 5%;
    position: absolute;
    z-index: 1;
}

.container-relative {
    position: relative;
}

.profile-img img{
    width: 70%;
    height: 100%;
    border: 5px #fff solid;
}
.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #0062cc;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}
.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
}
.scrolling-wrapper::-webkit-scrollbar{
    display: none;
}
.card{
    display: inline-block;
}
.not-visible {
    display: none;
}

.jumbo-profile {
    padding: 8em;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#table-half {
    background-color: #fff;
    width: 20%;
    border: 1px solid;
    position: absolute;
    z-index: 1;
    right: 0px;
    top: 43px;
}

.img-mini {
    width: 15%;
    height: 15%;
}

/* CSS Used to create Fade-in on Game Cover */

.container-cover {
    position: relative;
    width: 50%;
  }
  
  .image-cover {
    opacity: 1;
    display: block;
    /* width: 100%;
    height: auto; */
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle-cover {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
  }
  
  .container-cover:hover .image-cover {
    opacity: 0.3;
  }
  
  .container-cover:hover .middle-cover {
    opacity: 1;
  }
  
  .text-cover {
    background-color: #f6912d;
    color: black;
    font-size: 16px;
    padding: 8px 12px;
  }