{% extends "layout/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container container-box px-5">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Profile Collection Info</legend>
                {{ context|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Update</button>
            </div>
        </form>
        <hr>
        <div class="media">
            <div class="media-body">
                <h3>Games in collection:</h3>
                {% for i in user.profile.game.all %}
                <h4>{{ i.name }}</h4>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}